body {
    background: #e12828;
    padding: 0;
    margin:0;
}


#centerdiv {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -200px;
    margin-top:-150px;
    background: #fff ;
    width: 300px;
    height: 200px;
    padding:30px;
    text-align: center;

    border-radius: 5px;
    border-bottom:4px solid #aaa;
}

#centerdiv > form > input {
    border: 0;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    padding:20px 10px 2px 10px;
    margin-bottom: 30px;
    width: 100%;
    font:bold 16px Arial;
}

#centerdiv > form > input:focus {
    background:#eee;
    outline:none;
}

#centerdiv > form > input[type="submit"]{
    background: #e12828;
    margin: 10px;
    color: #eee;
    border-radius:5px;
    width: auto;
    padding:10px 20px 10px 20px;
    border-bottom: 3px solid #f12828;

}